<div id="proposition" class="d-flex justify-content-start mb-3">

    <div class="votes mr-3 me-3">
        <%= button_to '▲', upvote_proposition_path(@proposition), method: :post, class: 'btn btn-light' %>
        <h5><%= @proposition.cached_votes_total %></h5>
        <%= button_to '▼', downvote_proposition_path(@proposition), method: :post, class: 'btn btn-light' %>
    </div>

    <div>
        <h2 class="title"><%= @proposition.body %></h2>
        
        <% if @proposition.description.present? %>
            <div class="description"><%= markdown(@proposition.description) %></div>
        <% end %>


        by <%= link_to @proposition.author.username, user_path(@proposition.author) %>
        <% if @proposition.author == current_user %>
            <%= link_to 'Edit', edit_proposition_path(@proposition) %>
            <%= link_to 'Delete', proposition_path(@proposition), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        <% end %>

    </div>
</div>

<div id="arguments" class="row gx-3">
    <div class="col">
        <div class="side d-flex justify-content-between">
            <div class="name">Yes</div>
            <%= link_to '+', new_proposition_argument_path(@proposition, side: 'yes'), method: :get, class: 'btn btn-primary' %>
        </div>
        <%= render partial: 'arguments/argument', collection: @proposition.yes_arguments, as: :argument %>
    </div>
    <div class="col">
        <div class="side d-flex justify-content-between">
            <div class="name">No</div>
            <%= link_to '+', new_proposition_argument_path(@proposition, side: 'no'), method: :get, class: 'btn btn-primary' %>
        </div>
        <%= render partial: 'arguments/argument', collection: @proposition.no_arguments, as: :argument %>
    </div>
</div>