<div id="proposition" class="d-flex justify-content-start mb-4">

    <div class="votes me-4">
        <%= button_to '▲', upvote_proposition_path(@proposition), method: :post, class: 'btn btn-outline-secondary btn-sm' %>
        <h5 class="pt-2"><%= @proposition.cached_votes_total %></h5>
        <%= button_to '▼', downvote_proposition_path(@proposition), method: :post, class: 'btn btn-outline-secondary btn-sm' %>
    </div>

    <div class="content">
        <h2 class="title"><%= @proposition.body %></h2>
        
        <% if @proposition.description.present? %>
            <div class="description"><%= markdown(@proposition.description) %></div>
        <% end %>

        <div class="details d-flex justify-content-between">
            
            <% if @proposition.author == current_user %>
                <div class="actions">
                    <small>
                        <%= link_to 'Edit', edit_proposition_path(@proposition), class: 'text-secondary' %>
                        <%= link_to 'Delete', proposition_path(@proposition), class: 'text-secondary', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
                    </small>
                </div>
            <% end %>

            <div>
                <small>
                    by <%= link_to @proposition.author.username, user_path(@proposition.author) %>
                    <%= time_ago_in_words(@proposition.created_at) %> ago
                </small>
            </div>

        </div>

    </div>
</div>

<div id="arguments" class="row gx-5">
    <div class="col">
        <div class="yes-side-header d-flex justify-content-between">
            <div class="name">Yes</div>
            <%= link_to 'Add', new_proposition_argument_path(@proposition, side: 'yes'), method: :get, class: 'btn btn-dark' %>
        </div>
        <div class="yes-side-arguments">
            <%= render partial: 'arguments/argument', collection: @proposition.yes_arguments, as: :argument %>
        </div>
    </div>
    <div class="col">
        <div class="no-side-header d-flex justify-content-between">
            <div class="name">No</div>
            <%= link_to 'Add', new_proposition_argument_path(@proposition, side: 'no'), method: :get, class: 'btn btn-dark' %>
        </div>
        <div class="no-side-arguments">
            <%= render partial: 'arguments/argument', collection: @proposition.no_arguments, as: :argument %>
        </div>
    </div>
</div>